<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Nuovo Impiegato</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="angular.js"></script>  -->
<!-- <script type="text/javascript" src=""></script>  -->
<!-- 
<script>
  angular.module('submitExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.list = [];
      $scope.text = 'hello';
      $scope.submit = function() {
        if ($scope.text) {
          $scope.list.push(this.text);
          $scope.text = '';
          $scope.url = 'http://localhost:8080/impiegato/insert';
          $scope.method = 'POST';
        }
      };
    }]);
</script>
-->
<!--  
<script>
    angular.module('submitEx', []).controller('FormController',['$scope',/*'$http',*/ function($scope/*,$http*/){
    	$scope.invia = function(utente) {
	    $http.post('impiegato/insert', utente) //{firstName: $scope.firstName, lastName: $scope.lastName, email: $scope.email }
	      .success(function() { alert("Dati correttamente inviati!");})
	      .error(function() { alert("Si è verificato un errore!");});
        };
    }]);

</script>
-->
<!--
<script>
    var app = angular.module("app", []);
    app.controller("HttpGetController", function ($scope, $http) {

        $scope.SendData = function () {
           // use $.param jQuery function to serialize data from JSON 
            var data = $.param({
                fName: $scope.firstName,
                lName: $scope.lastName,
                email: $scope.email
            });
        
            var config = {
                headers : {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                }
            }

            $http.post('/impiegato/insert', data, config)
            .success(function (data, status, headers, config) {
                $scope.PostDataResponse = data;
            })
            .error(function (data, status, header, config) {
                $scope.ResponseDetails = "Data: " + data +
                    "<hr />status: " + status +
                    "<hr />headers: " + header +
                    "<hr />config: " + config;
            });
        };

    });
</script>

<script type="text/javascript">

var app = angular.module('postserviceApp', []);

app.controller('postserviceCtrl', function ($scope, $http) {

$scope.firstName = null;

$scope.lastName = null;

$scope.email = null;

$scope.lblMsg = null;

$scope.postdata = function (firstName, lastName, email) {

var data = {

firstName: firstName,

lastName: lastName,

email: email

};

//Call the services

$http.post('/impiegato/insert', JSON.stringify(data)).then(function (response) {

if (response.data)

$scope.msg = "Post Data Submitted Successfully!";

}, function (response) {

$scope.msg = "Service not Exists";

$scope.statusval = response.status;

$scope.statustext = response.statusText;

$scope.headers = response.headers();

});

};

});

</script>
-->

<script>
var app = angular.module('MyApp', []);

app.controller('FormCtrl', ['$scope', '$http', function($scope, $http) {
	
	$scope.formData = {};
	//$scope.formData = {firstName:"", lastName:"", email:""};
	alert("Mando i dati");
	
	$scope.send = function() {
		if($scope.myForm.$valid) {
			var config = {
    			url: '/impiegato/insert',
    			method: 'POST',
    			//dataType: 'json',
    			headers: {'Content-Type': 'application/x-www-form-urlencoded'},
    			data: $.param($scope.formData)
    		};
    		
    		$http(config).then(function(response) {
	    		// Successo
    			alert("Dati correttamente inviati!");
	    	}, function(response) {
		    	// Errore
	    		alert("Si è verificato un errore!");
	    	});

		}	
	};
	
		
}]);
</script>

<style>

.ng-valid {border-color: green}
.ng-invalid {border-color: red}

</style>

<style>
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    
    display: block;
    width: 95px;
    height: 45px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
</style>

</head>

<body>
<br>
<a style="color:blue;" href="/impiegato/list" class="button">Lista impiegati</a>
<br>
<!-- ng-app="submitExample" mettere dentro div per farlo funzionare ma smette di funzionare l'altro controller -->
<!--
<h2>Nuovo Impiegato</h2>
<div > 
<form ng-submit="submit()" ng-controller="ExampleController">
  Nome:
  <input type="text" ng-model="firstName" name="firstName" /> 
  <br>
  Cognome:
  <input type="text" ng-model="lastName" name="lastName" />
  <br>
  Email:
  <input type="text" ng-model="email" name="email" />
  <br>
  Nome2(prova esempio):
  <input type="text" ng-model="text" name="text" />
  <input type="submit" id="submit" value="Submit" />
  <pre>list={{list}}</pre>
</form>
</div>
-->

<br>
<br>
<h3 style="color:red;">Inserimento tramite Form Post</h3>
<form action="/impiegato/insert" method="post">
  Nome:
  <input type="text" id="firstName" name="firstName" /> 
  <br>
  Cognome:
  <input type="text" id="lastName" name="lastName" />
  <br>
  Email:
  <input type="text" id="email" name="email" />
  <br>
  <input type="submit" id="submit" value="Invia" style="color:blue;"/>
</form>

<br>
<br>

<h3 style="color:red;">Inserimento tramite AngularJs</h3>
<div ng-app="submitEx">
<form name="myForm" method="post" ng-controller="FormController" novalidate>  <!-- ng-submit="invia(utente)" si mette in form al posto di ngclick se non si inserisce in button -->
	Nome:<input type="text" ng-model="utente.firstName"
	       name="firstName" ng-maxlength="20"
		   ng-required="true">
	<div ng-show="myForm.firstName.$invalid">
		Il nome impiegato e' obbligatorio e non puo' superare i 20 caratteri
	</div>
	Cognome:<input type="text" ng-model="utente.lastName"
	       name="lastName" ng-maxlength="20"
		   ng-required="true">
	<div ng-show="myForm.lastName.$invalid">
		Il cognome impiegato e' obbligatorio e non puo' superare i 20 caratteri
	</div>
	Email:<input type="text" ng-model="utente.email"
	       name="email" ng-maxlength="20"
		   ng-required="true">
	<div ng-show="myForm.email.$invalid">
		Email e' obbligatoria e non puo' superare i 20 caratteri
	</div>	   
	<button type="submit" ng-click="invia(utente)">Invia</button>
</form>
</div>

<!--
<br>
<br>
<br>

<h3 style="color:red;">Inserimento tramite AngularJs 2</h3>
<div>
    <div ng-app="app" ng-controller="HttpGetController">
    <p>Nome: <input type="text" name="firstName" ng-model="firstName" required /></p>
    <p>Cognome: <input type="text" name="lastName" ng-model="lastName" required /></p>
    <p>Email: <input type="text" name="email" ng-model="email" required /></p>
    <button ng-click="SendData()">Submit</button>
    <hr />
    {{ PostDataResponse }}
    </div>

</div>

<br>
<br>
<h3 style="color:red;">Inserimento tramite AngularJs 3</h3>
<div ng-app="postserviceApp" ng-controller="postserviceCtrl">

<div>

Nome : <input ng-model="firstName" /><br/><br/>
Cognome : <input ng-model="lastName" /><br/><br/>
Email : <input ng-model="email" /><br/><br/>
<input type="button" value="Send" ng-click="postdata(firstName, lastName, email)" /> <br/><br/>

</div>
<p>Output Message : {{msg}}</p>
<p>StatusCode: {{statusval}}</p>
<p>Status: {{statustext}}</p>
<p>Response Headers: {{headers}}</p>

</div>
-->

<br>
<br>
<h3 style="color:red;">Inserimento tramite AngularJs 2</h3>
<div ng-app="MyApp" ng-controller="FormCtrl">
<form name="myForm" method="post" novalidate>
		<div>
			<input type="text" name="firstName" placeholder="Nome" ng-model="formData.firstName" class="form-control" required />
		</div>
		<div>
			<input type="text" name="lastName" placeholder="Cognome" ng-model="formData.lastName" class="form-control" required />
		</div>
		<div>
			<input type="text" name="email" placeholder="Email" ng-model="formData.email" class="form-control" required />
		</div>
		<!-- Altri campi -->
		<!--<p>form = {{formData}}</p> -->
		<p><input type="button" class="btn btn-primary" ng-click="send()" value="Invia" /></p>
	</form>
</div>

</body>
</html>